.icon_vital{
  font-size: 25px;
  font-weight: 100;
  color: #f26b3e;


}
.avatar > img:hover {
  transform: scale(1.16);
  transition: all 0.5s ease-out;
}
.avatar img {
  transition: all 0.5s ease-out;
}


#imageChange {
    top: 0;
    right: -9px;
}


.consultas_card::-webkit-scrollbar{
    width: 7px !important;
    background-color: transparent;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: transparent;

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #002b46;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
  background: red;
  border-radius: .5em;
  float: left;
  padding: .5em;
}

.fileContainer [type=file] {
  cursor: pointer;
}

.nav.nav-pills .nav-item .nav-link{
    color: #002b46;
}
