#linkDicoms{
  margin-top: 15px;
}
/* 
#herramientas{
  border: 1px solid rgb(2,0,36);
  margin-bottom: 10px;
} */
div#dicomImage>canvas {
  width: 100% !important;
}
.borde_puntos{
  border-style: dotted !important;
}

#dicomImage>canvas {
  width: 100% !important;
  height: 100vh !important;
}

.giro-90{
  transform: rotate(90deg);
}
.giro-180{
  transform: rotate(180deg);
}
.giro-270{
  transform: rotate(270deg);
}
.giro-360{
  transform: rotate(360deg);
}
