.content-card {
    display: flex;
    flex-direction: column;
}

.seccion-estudios {
    margin-top: 3rem;
}

.seccion-registrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}