:root{
    --cards:#434fa5;
    --card:#cfd4ed;
    --tituloCard: #25338a;
    --textCard:#25338a;
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --norealizado:#6a76be;
    --bordernorealizado:#4a0e0e;
    --realizado:#21ce7e;
    --nrealizado:#0d7545;
    --textoOscuro:#3b4996;
    --textoAlt:#737ec2;
}

body{
    background: var(--escritorio);
}
/*
.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: animatop 0.7s cubic-bezier(0.425, 1.14, 0.47, 1.125)  forwards;
}*/
.contents {
    display: block;
    position: relative;
    margin-left: 5rem !important;
    padding: 2.5rem;
}
.card {
  width: 400px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 0 auto 2rem;
}
.card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  border: solid 3px white;
  background: #6a76be;
  border: solid 3px #293582;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) .9s both;
}
.card.old:after {
    background: var(--realizado);
    border: solid var(--nrealizado);
}


.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
  display: flex;
  animation: present 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1.1s both;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 5px;

}
.firstinfo .profileinfo h3 {
  font-size: 1em;
  color: var(--norealizado);
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-25deg);
    top: -1px;
    left: -120px;
  }
}
@keyframes present {
  0% {
    opacity: 0;
    transform: translateX(-20rem)

  }
  100% {
    transform: translateX(0rem)

  }
}
a.links {
    position: absolute;
    display: block;
    top: 0;
    transform: translate(12rem, -1rem);
    right: 0;
    transition: all .3s ease;
    background: var(--norealizado);
    padding: 3rem .1rem;
    width: 100px;
    height: 1px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 2;
}
.card:hover >.links {
    transform: translateX(3rem);
}
.firstinfo .profileinfo {
    padding: 0px 0px 0 5rem;
    width: 30rem;
}
.bio{
  position: relative;
  display: block;
}
span.bio.coment {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.old_text{
  color:  #21ce7e !important;
}
.card.old > .links {
    background: #23ce7f;
}
i.iconec {
    position: absolute;
    top: 2.2rem;
    right: 3.5rem;
    font-size: 1.7rem;

}
/**/
.content{
    position: relative;
    display: block;
    /*margin-left: 5rem;
    /*padding: 2.5rem;*/
    animation: animatop 0.7s cubic-bezier(0.425, 1.14, 0.47, 1.125)  forwards;
}
.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
.title-content {
 display: block;
 position: relative;
 /*margin-bottom: 2rem;*/
}
.breadcrumb {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border: solid 2px #6a76be;
}
.breadcrumb-item a{
  text-decoration:none;
  color:var(--textoOscuro);
  font-size: 20px;
  font-weight: bold;
}
.breadcrumb-item span{

  color:var(--textoAlt);
  font-size: 20px;
}
