/********** Definición de constantes para colores **********/
:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --fondo-principal:#838ecd;
    --barra: #434fa5;
    --texto: #434fa5

     /*backgroundWizard*/
     --widback:#838ecd;
     /*colorNavsTabs*/
     --coloNavTab:#e3e6e4;
     /*colorImputEmpre,categoria,giro,btndash,iconoIMage,btnSubirArchivos*/
     --whiteemp:#fff;
     /*BAckgorundSelectCategoria,btnwizard,btndash*/
     --backCate:#414da2;
     /*borderbtnWizard*/
     --borderwid: #414da3;
     /*colorIconoIMagen*/
     --iconimagen:#838ECD;
     /*background btnfile*/
     --backfile:#B4BAE0;
     /*color btnfile*/
     --colfile:#8591CF;
     /*placeholder*/
     --placeholder:#cdd2eb;
     --textoAlt: #737ec2;
     --textoOscuro: #3b4996;
  }

/********** Estilos del contenido **********/

.content {
    margin-left: 5rem;
    display: flex;
    background-color: var(--escritorio);
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.titulo h1 {
    margin: 0;
}

.imagen-contacto {
    display: flex;
    justify-content: center;
    margin: 1rem 0
}

.imagen-contacto img {
    width: 8rem !important;
    height: 8rem !important;
}

.informacion {
    display: flex;
}

.informacion h2 {
    font-size: 1.5rem;
}

.area-guardar {
    display: flex;
    justify-content: center;
}

.area-guardar button {
    margin-top: 1rem;
}

.datos-empresa {
    flex-basis: 40%;
    padding: 0 3rem;
}

.datos-empresa p {
    margin-top: 2rem;
}

.datos-contacto {
    flex-basis: 60%;
    padding: 0 3rem;
}

.datos-contacto input {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}