:root{
  --colblanc:#fff;
  --bkdi:#838ECD;
  --brspn:#B4BAE0;

}
.content{
  width: 100vw;
  min-width:100%;
  height: 100vh;
  margin-left: 5rem;
  /*margin-left:6.893%;
  /*margin-left: 7.3%;*/
}
.clsimg {
  position: relative;
  background-image: url(../../images/fond.png);
  display: block;
  width: 100%;
  height: 37vh;
  background-size: cover;

}
.clsizq{
  position: relative;
  display: block;
  color: var(--colblanc);
  /*font-size: 131%;*/
}
ul{
  list-style:none;
  }
.clsder {
  position: relative;
  display: block;
  margin-left: 45%;
  margin-top: -6rem;
  color:var(--colblanc);
  /*font-size: 127%;*/
}

.cl1 {
  position: relative;
  display: block;
  color: var(--colblanc);
  font-size: 120%;
  margin-top: 3%;
}
.cl2 {
  position: relative;
  display: block;
  color: var(--colblanc);
  margin-left: 45%;
  margin-top: -10%;
  font-size: 120%;
}
.p
{
  margin-left: 4%;
  font-size: 44%;
  margin-top: -2%;

}
p.pa {
  font-size: 44%;
  margin-left: 9%;
  margin-top: -4%;
}



dl, ol, ul {
  margin-top: 0;
  margin-bottom: 5%;
}
.row {
  position: relative !important;
  display: flex !important;
  margin-left:0% !important;
  height: 63vh;


}
.div1{
  background-color: var(--bkdi);
  position: relative;
  display: block;
  flex-direction: column;
  width: 30%;
  height: 63vh;
}
.txt{
  color: var(--colblanc);
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}
.titl{
  color: var(--colblanc);
}

  .div2 {
    background-color:var(--bkdi);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 31.8vh;
    /*border-bottom: 1px dashed white;*/
  }
.div3 {
  background-color: var(--bkdi);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 51.%;
  /* margin-left: 25.5rem; */
  /* margin-top: -12.9rem; */
  margin-left: 29.7%;
  margin-top: -15.3%;
  border-top: 1px dashed var(--colblanc);
}

.img-fluid {
  max-width: 45% !important;
  height: auto;
  margin-left: 31% !important;
}

.img-fluid {
  border-radius: 15px;
}


.btn-file  {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: var(--colblanc);
  cursor: inherit;
  display: block;
}
span.btn.btn-primary.btn-file {
  background: var(--backfile) !important;
  position: absolute !important;
  bottom: 10px;
  margin-left: 7.5rem;
  color: var(--colblanc);
  border: 1px solid var(--brspn) !important;
  font-weight: bold !important;
}

@media (min-width: 500px) and (max-width:750px) {
 .div1{
    position: relative;
    display: flex;
    width: 30%;
    height: 32rem;
 }
  .p{
    margin-left: 1.5rem;
}

  .div2{
    height: 58.8vh;

  }
  .clsiz{
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .div3{
    margin-top: -14.2rem;
    /* background-position: 12rem 3rem; */
    height: 74.1%;
  }

  .cl2{
    margin-top: 0rem;
    margin-left: 0rem;
  }
  span.btn.btn-primary.btn-file {
    bottom: 379px;
    width:95%;
    margin-left: 0rem;

  }

}
@media (min-width: 751px) and (max-width:900px) {
  .div1{
     position: relative;
     display: flex;
     width: 30%;
     height: 32rem;
  }
  p.pa{
    margin-left: 5%;
  }
   .p{
     margin-left: 1.5rem;
 }

   .div2{
     height: 58.8vh;

   }
   .clsiz{
     margin-left: 0rem;
     margin-top: 0rem;
   }

   .div3{
    margin-top: -14.4rem;
    /* background-position: 12rem 3rem; */
    height: 73.1%;
   }

   .cl2{
     margin-top: 0rem;
     margin-left: 0rem;
   }
   span.btn.btn-primary.btn-file {
    bottom: 13rem;
    width: 85%;
    margin-left: 1rem;

   }

 }
 @media (min-width: 901px) and (max-width:1224px) {
  .div1{
     position: relative;
     display: flex;
     width: 30%;
     height: 19rem;
  }
  p.pa{
    margin-left: 12%;
  }
   .p{
     margin-left: 1.5rem;
 }

   .div2{
     height: 58.8vh;

   }
   .clsiz{
    margin-left: 15rem;
    margin-top: -7rem;
   }

   .div3{
    margin-top: -9.65rem;
    /* background-position: 12rem 3rem; */
    height: 50%;
   }

   .cl2{
     margin-top: -17%;
     margin-left: 48%;
   }
   span.btn.btn-primary.btn-file {
    bottom: 90px;
    width: 85%;
    margin-left: 1rem;
   }

 }
