:root {

    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
    --backwhite:#fff;
    --clrtr:#ddd;
    --scrlweb:#F5F5F5;
    --boxcha:#a1a5bb;
    --backswt:#000000;
    --bxcswt:#00000080;
    --backswtaf:#ffffff;
    --bxsw:#0000004d;
    --mdlfoo:#414da3;
    --mdlfobk:#838ecd;
  }

  body{
  background:  var(--escritorio) !important;
  }

  .estudios, .lista, .alta{
    position: relative;
    display: inline-block;
  }
  .content{
      position: relative;
      display: flex;
      margin-left: 5rem;
      height: 100vh;
  }
  .alta.col-7 {
    height: 100vh;
}

  .alta{
      display:none;
  }

  .estudios{
      background: var(--escritorio);
      padding: 50px;
  }
  .lista,.alta{
      background: var(--backwhite);
  }
  .estudios > h2{
      position: relative;
      display:block;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
      color: var(--menu);
  }
  .estudios_content {
    position: relative;
    display: block;
    padding: 5rem;
}
.attrib {
    padding: 0px 0px 20px 30px;
}
i.fa.fa-file-alt.fa-fw.icon {
    background:var(--backwhite);
    color: var(--menu);
    padding: 18px 0 0 22px;
    position: relative;
    border-radius: 50%;
    display: inline-flex;
    max-height: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    font-size: 25px;
    margin-right: .5rem;
}

a.links, .header_content >div >h2 {
    color: var(--texto) !important;
}

.img {
    position: relative;
    display: block;
    background: url(../../images/64.jpg);
    max-width: 100%;
    width: 100%;
    height: 15rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.alta.col-7, .lista.col-7 {
    padding-bottom: 1.5rem;
}
.content_estudios {
    position: relative;
    display: block;
    padding: 2rem 3rem;
}
table{
	background-color: var(--backwhite);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color:var(--backwhite);
}

tr:nth-child(even){
	background-color: var(--clrtr);
}

tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}
#table_estudios_info {
    color: var(--border);
}

input.form-control.form-control-sm,
.custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem var(--boxcha) !important;
}
label {
    color: var(--border);
}
#table_estudios_filter {
    display: flex;
    padding-left: 8rem;
    position: relative;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
  }
    .form-control.form-control-sm {
    position: relative;
    display: flex;
    float: left;
}
.page-item.active .page-link {
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
}
.alta,.lista{
    overflow:hidden ;
}
.img{
    position: relative;
    display: flex;
    height: 40vh;
}
.content_estudios{
    position: relative;
    display: block;
    height: 60vh;
    overflow-y: auto;
    background-color: var(--backwhite) !important;
}
.content_estudios::-webkit-scrollbar{
    width: 12px;
    background-color:var(--scrlweb);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
.active{
	background: var(--menu) !important;
    color:var(--backwhite) !important;
    transition: all .3s ease;
}
/*   switch    */
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    margin: 0px auto;
}

.material-switch > label::before {
    background:var(--backswt) ;
    box-shadow: inset 0px 0px 10px var(--bxcswt);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: var(--backswtaf);
    border-radius: 16px;
    box-shadow: 0px 0px 5px var(--bxsw);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
    background: var(--border);
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
    background: var(--border);
}
.material-switch.pull-right {
 margin: 0px auto;
 display: flex;
}
.alta, .lista {
    position: fixed !important;
    right: 0;
    bottom: 0;
    transition: all .5s ease;
}
.header{
    position: relative;
    display: block;
    max-width: 100%;
    width:100%;
    height:100%;
    padding: 2rem 7rem 6rem;
    overflow-y: auto;
}
.masthead{
    background-image: url(https://www.laboratorioasesores.com/assets/frontend/img/sucursales_bg-01.jpg);
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5px -6rem;
}
.head_icon{
    color:var(--menu);
    padding-top: .39rem;
    font-size: -webkit-xxx-large;
}
.header_content > div > h6{
    color: var(--cite);
}
.header_content > div > h2{
    margin-bottom: 0px;
}
.header_content {
    position: relative;
    display: flex;
    margin-bottom: 1.6rem;
}
#label_estudio {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--cite);
}
#estudio:focus{
  border: none;
  outline: 0;
  color: var(--texto);
}

.btn_estudio{
    position: relative;
    display: block !important;
    margin: 2rem auto 0;
    background: var(--menu) !important;
    border-color: var(--border) !important;
}
.btn_estudio:hover{
    background: var(--border) !important;
}
.img_estudios{
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.Inactivo, .Activo{
	padding:.3rem;
	border-radius:10%;
	font-size:15px;
	width:4rem;
	text-align:center;
}
.Inactivo{
	background: var(--cite);
}
.Activo{
	background:var(--menu);
	color:var(--backwhite);
}
.took {
    font-size: 15px;
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
}
.fa-edit {
    margin-left: .1rem;
}
.btn-primary:hover{
 background-color: var(--border) !important;

}
.btn-primary{
background-color: var(--menu) !important;
border-color: var(--border) !important;
}
.btn-outline-danger:hover {
    color:var(--backwhite) !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}
tr, td,th {

    text-align: center;
}
.modal-header {
    background: var(--menu);
    border-bottom: solid 4px var(--border) !important;
    color:var(--backwhite);
}
.modal-header .close {
    color: var(--backwhite);
}
.modal-footer {
    border-top: solid .4rem var(--mdlfoo) !important;
    background: var(--mdlfobk);
}
.seccion-navegacion {
    /*margin-top: 1rem;*/
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}
div#table_estudios_info {
    display: none;
}
@media only screen
and (min-device-width : 720px)
and (max-device-width : 1024px)  {
  .content> .col-5{
    padding-right: 0;
    padding-left: 0;
  }
}

.form-group {
    max-width: 100%;
}