
:root{
    /*backgroundWizard*/
    --widback:#838ecd;
    /*colorNavsTabs*/
    --coloNavTab:#e3e6e4;
    /*colorImputEmpre,categoria,giro,btndash,iconoIMage,btnSubirArchivos*/
    --whiteemp:#fff;
    /*BAckgorundSelectCategoria,btnwizard,btndash*/
    --backCate:#414da2;
    /*borderbtnWizard*/
    --borderwid: #414da3;
    /*colorIconoIMagen*/
    --iconimagen:#838ECD;
    /*background btnfile*/
    --backfile:#B4BAE0;
    /*color btnfile*/
    --colfile:#8591CF;
    /*placeholder*/
    --placeholder:#cdd2eb;

    --menu:#6a76be; 
    --escritorio:#cfd4ed; 
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoOscuro: #3b4996;
    --textoAlt: #737ec2;

}


.content {
    background-color: var(--escritorio);  
    display:flex;  
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin-left: 2rem;
    flex-direction: column;
}

.fondo > img  {
    position: initial;
    display: block;
    /*background: url(../../images/la2.png);*/
    max-width: 100%;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-left: -1.5rem;*/
    margin-top: -2rem;
}

.info {
    background: 
bisque;
border: 1px solid
aqua !important;
color:
    white;
}

.tabs {
    margin-bottom: 0.5rem;
}

.wrap {
    flex-basis: 90%;
    margin: 2rem 6rem;
}

ul.tabs {
    width: 100%;
    background-color: #515985;
    list-style: none;
    display: flex;
    padding-left: 0;
}

ul.tabs a {
    width: 50%;
    text-align: center;
    text-decoration: none;
}

ul.tabs a li {
    color: white;
    font-size: 1.6rem;
}

.active {
    background-color: var(--border);
}

.tabs_content {
    width: 100%;
    background-color: white;
    box-shadow: 0.2rem 0.3rem #acb1ca;
    
}

.tabs_content section {
    padding: 0.3rem;
}
/*
.tabla {
    margin-top: 2rem;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
    width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: var(--menu);
	border-bottom: solid 5px var(--border);
	color: #fff;
}

tr:nth-child(even){
	background-color: #ddd;
}


tr:hover td{
	background-color: var(--border);
    color: var(--escritorio);
    transition: all .3s ease;
}
tr td{
    color: var(--texto);
    transition: all .3s ease;
}

#table_estudios_info {
    color: var(--border);
}

input.form-control.form-control-sm,
.custom-select.custom-select-sm.form-control.form-control-sm {
    border: solid 1.5px var(--border);
    color: var(--border);
}



.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(161, 165, 187) !important;
}
/*

label {
    color: var(--border);
}
/*
#table_estudios_filter {
    display: flex;
    padding-left: 8rem;
    position: relative;
}
.page-item.active .page-link {
    background-color: var(--menu) !important;
    border-color: var(--border) !important;
}*//**/
#tabla-empleados_info {
    padding: 1.5rem 0;
    color: var(--border);
} 
.form-control.form-control-sm {
    position: relative;
    display: flex;
    float: right;
    margin: 0 2rem;
}
.active {
    background: var(--menu) !important;
    color: #fff !important;
    transition: all .3s ease;
}
.area-estudios {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    margin: 3rem 5rem 1rem;
    color:#7781c2;
}

.cuadro-estudio {
    position: relative;
    margin: 1rem;
    min-width: 11rem;
    width: 11rem;
    line-height: 3;
    padding: 0.5rem;
    border: 0.1rem solid #29358279;
    box-shadow: 0.2rem 0.3rem 10px #acb1ca;
    text-overflow: ellipsis;
    word-wrap: break-word;
    background-color: #cfd4ed3b;
    color: var(--menu);
    border-radius: 15px;
    transition: all .5s ease;

}

.cuadro-estudio:hover{
    transform: scale(1.05);
    border-radius: 5px;
    transition: all .5s ease;
}

.cuadro-estudio h5 {
    font-size: 1rem;
    font-weight: bold;
}

.cuadro-estudio p {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.cuadro-estudio span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#tab_principal {
    padding: 0.5rem 2rem;
}

.nombre-grupo {
    background-color: var(--texto);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.nombre-grupo h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    font-weight: lighter;
    color:white;
    
}

.main-title {
    margin-top: 1.5rem;
}

.contenedor {
    padding: 0 1.5rem;
}

.contenedor table tr th:last-of-type {
    font-weight: normal;
}

.seccion-botones {
    display: flex;
    justify-content: center;
}

.btn-personalizado {
    color: white;
    background-color: var(--menu);
    margin-right: 2rem;
}

.modal-backdrop {
    z-index: 0 !important;
}
/*
#programarEmpleadoModal{
    overflow-y: scroll;
}
#programarEmpleadoModal::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
.modal-body::-webkit-scrollbar{
    
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
*/
ul.list-inline.pull-right {
    margin-top: .5rem;
}

.modal-header {
color: #fff;
background: var(--widback);
border-bottom: solid .4rem var(--borderwid) !important;
}


i.fa.fa-file-alt.fa-fw.icon {
    padding: 16px;
    position: relative;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    display: inline-block;
    background: var(--colfile);
    font-size: 10px !important;
    margin-bottom: 10px;
    margin-right: 10px;
}


i.fa.fa-file-alt.fa-fw.icon:before {
    color: #fff;
    font-size: 3rem;
}


.links {
    color: #5866b7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: 1rem;
}


.links:hover {
    color: #5866b7;
}

.modal-body{
    position: relative;
    display: flex;
}

.categoria {
    flex:0 0 40%;
    max-width: 40%;
    height: auto;
    margin-right: .3rem;
    border-right: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.estudios{
    flex: 0 0 60%;
    height: auto;
    max-width: 60%;
    margin-left: .3rem;
    border-left: solid .2rem var(--borderwid) ;
    padding: inherit;
}

.categoria .estudios{
    position: relative;
    width: 100%;
}

.actives{
    background: var(--borderwid) !important;
}

.custom-control{
    display: flex !important;
    flex-wrap: wrap;
}

.custom-control-label{
    font-weight: normal !important;
    color: #5866b7;
}

.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    left: -2rem;
}

.custom-control-label::before {
    width: 1.5rem;
    left: -2rem;
    height: 1.5rem;
    border-radius: 50% !important;
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff !important;
    border-color: #838ecd !important;
    background-color: #838ecd !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(183, 187, 208, 0.66) !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #838ecd;
}

.col-6.estudios_input.Laboratorio {
    padding-bottom: 1rem;
}
.btn-primary:hover{
    background-color: var(--border) !important;
    
   }
.btn-outline-danger:hover {
    color: #fff !important;
    background-color: var(--border)!important;
    border-color: var(--border)!important;
}
.btn-outline-danger {
    color: var(--border) !important;
    border-color: var(--border)!important;
}
.modal-footer {
    border-top: solid .4rem #414da3 !important;
    background: #838ecd;
}

span {
    color: #fff;
}

.estudios-por-programar {
   /* border: 0.07rem solid black;*/
    padding: 1rem 1rem 1rem 2rem;
    height: 8rem;
    overflow-y: scroll;
    margin-top: 2rem;
    box-shadow: 5px 5px 19px #6a76be;

}

.estudios_input2 {
    margin-bottom: 1rem;
}

.estudios-programados>h3{
    color: var(--menu);
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    padding: 1rem 0;
}
.lista-empleados>h3{
    color: var(--menu);
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    padding: 1rem 0;
}
.navegacion > a {
    color: var(--textoOscuro);
    margin-bottom: 0;
}
.navegacion span {
    color: var(--textoAlt);
}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .6rem;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    height: 2rem;
}

.barra-busqueda input {
    width: 100%;
}

.modal-body-agregar {
    height: 70vh;
    overflow-y: scroll;
}

#lista-empleados-agregar {
    justify-content: center;
}

.empleado-card {
    background-color: var(--iconimagen);
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.empleado-card p {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.label-empleado {
    width: 100%;
}

.label-empleado p {
    text-align: left;
}

.checked-card {
    -webkit-box-shadow:inset 0px 0px 0px 7px var(--border);
    -moz-box-shadow:inset 0px 0px 0px 7px var(--border);
    box-shadow:inset 0px 0px 0px 7px var(--border);
}

.card-content {
    display: flex;
    align-items: center;
}

.card-icon {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

.card-info {
    flex-basis: 80%;
    padding-left: 2rem;
}

.card-info p:first-of-type {
    font-weight: bold;
    font-size: 1.3rem;
}
