:root{
    --menu:#6a76be;
    --escritorio:#cfd4ed;
    --texto:#5866b7;
    --border:#293582;
    --cite:#cccccd;
    --textoAlt: #737ec2;
    --textoOscuro: #3b4996;
}

body{
    background: var(--escritorio) !important;
}

.content{
    position: relative;
    display: block;
    margin-left: 5rem;
    padding: 2.5rem;
}

.title{
   background: var(--menu);
   color: #fff;
   text-align: center;
   margin: 0;
   padding: 0.5rem 0;
   font-weight: lighter;
   border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel.panel-default {
    background: #fff;
    padding: 1rem 2.5rem;
}
.panel-heading{
    text-align: center;
}
.panel-title{
    text-align: center;
    margin: 1rem 0 3.9rem;
    font-weight: lighter;
    font-size: 40px;
    color: var(--texto) !important;
}
::-webkit-scrollbar{
    width: 7px !important;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--escritorio);

}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--menu);
}
   .title-content {
    display: block;
    position: relative;
    /*margin-bottom: 2rem;*/
}

   .btn-primary{
   color: #fff !important;
   background-color: var(--menu) !important;
   border-color: var(--border) !important;
   }

.seccion-navegacion {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.navegacion {
    color: var(--textoOscuro);
    margin-bottom: 0;
}

.navegacion a {
    text-decoration: none;
    color: var(--textoOscuro);
}

.navegacion a:hover {
    text-decoration: none;
    color: var(--menu);
}

.navegacion span {
    color: var(--textoAlt);
}

.scrollup  {
    display: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    background-position: center center;
    background: var(--border);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .3rem;
}
#table_estudios_info {
    display: none;
}
input.form-control.form-control-sm, .custom-select.custom-select-sm.form-control.form-control-sm {
    float: right;
    margin: 0 1rem;
}


/* Comienzan estilos de indicadores */

/*Estilos de gráficas de barras */
#container-enfermedades {
    height: 400px;
}

#container-imc {
    height: 400px;
}

/* Estilos de gráfica circular */
input[type="number"] {
	min-width: 50px;
}

/* Estilos de gráficas en general */
.area-grafica {
    padding: 3rem;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.buttons {
    min-width: 310px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0;
}
  
.buttons button {
    cursor: pointer;
    border: 1px solid silver;
    border-right-width: 0;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    transition-duration: 0.3s;
}
  
.buttons button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.buttons button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right-width: 1px;
}

.buttons button:hover {
    color: white;
    background-color: rgb(158, 159, 163);
    outline: none;
}

.buttons button.active {
    background-color: #0051B4;
    color: white;
}