:root{
    /*Backgroundizquierda,li menu*/
    --izqback:#5866B7; /*(88,102,183)*/
    /*backDerecha,inputcolor*/
    --backwhite:#fff;
    /*colorIcon*/
    --Cicon:#CDD2EB;
    /*color texto*/
    --texto:#979797;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.uno {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: var(--izqback);
}

.formularioo {
    width: 70%;
}

h2 {
    font-size: 2rem;
    color: var(--backwhite);
    margin: 46px 73px;
}

span.iconocolor {
    background: var(--backwhite);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 4.8em;
    color: var(--Cicon);
    display: inline-block;
    font-weight: bold;
    line-height: 6.5em;
    text-align: center;
    width: 6.4em; 
    font-size: 25px;
    margin-bottom: 1rem;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 91px;
    vertical-align: middle;
    color: var(--iconimagen);
}

.selare{
    background: var(--izqback) !important;
    border: 2px solid #cdd2eb;
    color: var(--backwhite);
    width: 100%;
    height: 2.3rem;
    margin-top: 0.5rem;
}

input.form-control.inpExpe {
    outline: none;
    box-shadow: none;
}

 input.inpExpe,.input-group {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--backwhite);
    font-size: 20px;
    padding: 1px;
    margin-bottom: 10px !important;
    color: var(--whiteemp);
}

input.inpExpe::placeholder {
    color: var(--backwhite);
}

.input-group {
    background: transparent;
    border: none;
}

.dos {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 5%;
}

.nav-pills {
    width: 100%;
}

.li1 {
    background: #5866B7;
}

.li2 {
    background: #7984C5;
}

.li3 {
    background: #9AA3D3;
}

a.nav-link:hover{
    position: relative;
    display: block;
    color: var(--backwhite);
    opacity: .6;
    transition: all .10s ease;
}

a.nav-link {
    color: #fff;
    font-weight: bold !important;
}

.navs {
    display: flex;
    width: 100%;
    padding-top: 3.5rem;
    color: var(--backwhite);
    justify-content: space-between;
}

.resultados {
    margin-top: 2rem;
}

.textt {
    color: var(--texto);
}

.icn {
    display: flex;
    width: 100%;
    margin: .5rem 0;
    justify-content: space-evenly;
    padding: 1rem 1rem;

    /* Border*/
    /*
    border-style: solid;
    border-width: 0.3rem;
    border-color: rgba(88, 102, 183, 20%);
    */
}

.subicn {
    background: transparent;
    position: relative;
    width: 51px;
    font-size: 21px;
}

i.fas.fa-eye,i.fas.fa-download {
    color:var(--izqback);
}

.comto {
    background:var(--izqback);
    position: relative;
    margin-top: 2rem;
    color: var(--backwhite);
    padding: 0.3rem 0 0.3rem 3rem;
    font-weight: 600;
}

.nav-item {
    text-align: center;
    width: 33.3%;
}

.ico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i.far.fa-copy {
    margin: 8px 15px 8px 15px ;
    color:var(--izqback);
}

.icnsup {
    position: relative;
    display: block;
    border-radius: 10px;
    border: solid 0.1rem var(--izqback); 
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.regresar {
    color: var(--izqback);
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding:  0.5rem 1rem;
    margin-top: 1.5rem;
    display: inline-block;
    text-align: center;
}