:root{
    /*Backgroundizquierda,li menu*/
    --izqback:#5866B7;
    /*backDerecha,inputcolor*/
    --backwhite:#fff;
    /*colorIcon*/
    --Cicon:#CDD2EB;
    /*color texto*/
    --texto:#979797;
}

body, html {
    height:auto;
	margin:0;
	padding:0;
    width:100%;
    background: var(--izqback);
}
 
.uno{ 
    width: 40%;
    position: relative;
    display: inline-block ;
    margin: auto;
    height: auto;
    background: var(--izqback);
	}
.dos{
    width: 60%;
    position: relative;
    display: inline-block;
    float: right;
    height: auto;
    background: var(--backwhite);

	}

.formularioo {
    float: left;
    width: 69%;
    margin-left: 60px;
    }

h2 {
    font-size: 2rem;
    color: var(--backwhite);
    margin: 46px 73px !important;
}

.textt{
    color: var(--texto);
    margin-left: 40px;
}

.stylp{
    position: relative;
    text-align: justify;
    padding: 10px 61px;
    color:var(--texto);
}

/*li  navs*/
.li1{
    background: #5866B7;
}
.li2{
    background: #7984C5;
}
.li3{
    background: #9AA3D3;
}
a.nav-link:hover{
    position: relative;
    display: block;
    color: var(--backwhite);
    opacity: .6;
    transition: all .10s ease;

}
a.nav-link {
    color: #fff;
    font-weight: bold !important;

}

.navs {
    padding: 56px 75px;
    color: var(--backwhite);
}
/*icono descarga */
.icn1 {
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    margin-left: 71px;
    border-radius: 10px;
    border: solid 3px var(--izqback);
}
.icn2{
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    margin: -110px 286px;
    border-radius: 10px;
    border: solid 3px var(--izqback);
}
.icn3{
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    margin: -110px 500px;
    border-radius: 10px;
    border: solid 3px var(--izqback);
    
}
i.far.fa-copy {
    margin: 8px 15px 8px 15px ;
    color:var(--izqback);
}

.subicn {
    margin-left: 25px;
}

.subicn {
    background: transparent;
    position: relative;
    width: 51px;
    margin-left: 28px;
    font-size: 21px;
}
i.fas.fa-eye,i.fas.fa-download {
    color:var(--izqback);
}

.comto {
    background:var(--izqback);
    position: relative;
    margin-top: 157px;
    width: 567px;
    color: var(--backwhite);
    margin-left: 47px;
}

/**/
span.iconocolor {
    background: var(--backwhite);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 4.8em;
    color: var(--Cicon);
    display: inline-block;
    font-weight: bold;
    line-height: 6.5em;
    margin-left: 25%;
    text-align: center;
    width: 6.4em; 
    font-size: 25px;
  }
  div#step2 {
    display: flex;
    
}
.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 91px;
    vertical-align: middle;
    color: var(--iconimagen);
}
/*selcted*/
.selare{
    background: var(--izqback) !important;
    border: 2px solid #cdd2eb;
    color: var(--backwhite);
    width: 462px;
}
/******icono menuEmpresa *****/
.fa-file-alt:before {
    content: "\f15c";
    font-size: 71px;
}
/*inputs*/
input.form-control.inpExpe {
    outline: none !important;
    box-shadow: none !important;
}

 input.inpExpe,.input-group {
    background: transparent !important;
    border: none;
    border-bottom: 2px solid var(--backwhite);
    font-size: 20px;
    padding: 1px;
    margin-bottom: 10px !important;
    color: var(--whiteemp);
}
input.inpExpe::placeholder{
    color: var(--backwhite) !important;

}
.input-group {
    background: transparent;
    border: none;
}
